.temp_img {
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

html, body, .wrapper {
  width: 100vw;
  height: 100vh;
}

html {
  font-family: 'Open Sans';
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #a7cbe1; 
  color: #124656; 
}

/* some css for top section  */
#top-div {
  background-image: url('/assets/top-background.jpg');
  background-size: cover;
  overflow: hidden;
  /* height: 500px; */
  height: 30vw;
}

#top-div h1 {
  /* font-size:calc(36px + 0.5vw); */
  font-size: 4vw;
}

#top-div h3 {
  /* font-size:calc(12px + 0.5vw); */
  font-size: 2.5vw;
}

/* navbar helpercss */
.navbar {
  transition: all 0.5s;
}
.navbar-scrolled {
  background-color: rgb(137,207,240);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* about section css */
.external-buttons {
  width:100%;
}

.download-hover {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top:10px; 
  padding-bottom:10px; 
  padding-left:20px; 
  padding-right:20px; 
  text-decoration: none; 
  border-radius: 5px;
  border-color: #124656 !important;
  color: #124656; 
  transition: background-color 0.5s, color 0.5s;
}

.download-hover:hover {
  color: white;
  background-color:#124656;
}

/* Carousel helper CSS */
.project-img {
  height: 25vw;
  width: 40vw;
  object-fit: cover;
}

.carousel-custom-caption {
  width: 35vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.project-title {
  /* font-size:calc(12px + 0.5vw); */
  font-size: 2.25vw;
  /* font-size: 2em; */
}

.project-skills {
  /* font-size:calc(8px + 0.5vw); */
  font-size: 1.75vw;
  /* font-size: 1.5em; */
}

.project-description {
  /* font-size:calc(4px + 0.5vw); */
  font-size: 1.25vw;
  /* font-size: 1em; */
  min-height: 10vw;
}

/* css for subsection titles */
.section-title {
  padding-top: 75px;
  font-size: 2.75vw;
}